@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'poppins',sans-serif;
}
header{
    text-transform: capitalize;
    background-color: crimson;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    display: flex;
    justify-content: center;
    gap: 0;
    margin-top: 1rem;
}
form input{
    outline: none;
    border: none;
    padding: 10px 0.5rem;
    width: 300px;

}
form button{
    outline: none;
    border: none;
    padding-inline: 10px;
    font-size: 24px;
    font-weight: 700;
    transition: all 0.3s ease-in;
    background-color: #e3d5ca;
}
form button:hover{
    color: white;
    background-color: black;
}
.todolist{
    height: 28rem;
    width: 22rem;
    margin-inline: auto;
    background-color: lavender;
    overflow-y: scroll;
    position: relative;
}
.todolist .head{
    height: 20%;
    width: 100%;
    background-color: crimson;
    color: black;
    text-transform: capitalize;
    text-align: center;
    font-size: 24px;
    padding: 1.5rem;
    font-weight: 800;
    position: sticky;
    top: 0;

    
}

main{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
    word-wrap: break-word;
}
.donelist{
    height: 28rem;
    width: 22rem;
    margin-inline: auto;
    margin-block: 2rem;
    background-color: lavender;
    overflow-y: scroll;
    position: relative;
}
.donelist .head{
    height: 20%;
    width: 100%;
    background-color: navy;
    color: black;
    text-transform: capitalize;
    text-align: center;
    font-size: 24px;
    padding: 1.5rem;
    font-weight: 800;
    position: sticky;
    top: 0;
}
ul{
    padding-inline:1rem;
}
li{
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
    background-color: cornsilk;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-block: 0.5rem;
}
li div{
    display: flex;
    gap: 0.3rem;
}

@media screen and (min-width:768px) {
    main{
        flex-direction: row;
        justify-content: space-around;
    }
    .donelist{
        margin-block: 0;
    }
}
 